/* change this to vw and make it scale better */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    background-image: url("../images/BG.png");
    background-size: cover;
}

 :root {
    --border: #36c0af;
    --redtest: #db29299a;
    --bluetest: #2935db9a;
    --yellowtest: #dbcf299a;
    --greentest: #70db299a;
    --primary: #303030;
    --secound: #1465f6;
    --hover: #31003ca6;
    --shadow: #229dbe61;
    --bg: #ffffff;
    --icon: #00cdeb;
    --white: #fff;
    --text: #444444;
    --blue: #3662f2;
    --red: #f04848;
    --green: #27e631;
    --yellow: #efff17;
}

* {
    padding: 0;
    margin: 0;
}

.playerName,
.waitingForPlayers {
    padding-top: 2%;
    animation: bounceInDown 1s ease-in-out;
}

.waitingForPlayers {
    animation: fadeIn 1.2s ease-in-out;
}

.playerName input {
    outline: none;
    height: 40px;
    box-sizing: border-box;
    width: 250px;
    background-color: #ecf0f1;
    border: 2px var(--secound) solid;
    border-radius: 8px;
    padding: 8px;
}

#Canvas {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding-top: 9vh;
}

#startGameDialogue,
#endGameDialogue {
    font-size: 30px;
    color: var(--white);
    animation: bounceIn 1s ease-in-out;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 420px;
    height: 420px;
    margin-top: 80px;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 10%;
    font-weight: lighter;
    background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
}

#startGameDialogue button,
#endGameDialogue button {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
    font-size: 18px;
    cursor: pointer;
    background-color: white;
    border: none;
    outline: none;
    height: 40px;
    width: 200px;
    display: block;
    margin: 14px auto;
    border-radius: 12px;
    transition: all 0.4s ease-in-out;
    color: var(--secound);
}

#startGameDialogue button:hover,
#endGameDialogue button:hover {
    color: #ecf0f1;
    background-color: var(--secound);
}

#Canvas .box {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 40%;
    height: 40%;
}

#Canvas .path {
    box-sizing: border-box;
    width: 20%;
    height: 40%;
}

#Canvas .path.horizontal {
    width: 40% !important;
    height: 20% !important;
}

#Canvas .innerHome {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 20%;
    width: 20%;
    background-color: var(--bg);
    background-image: url('../images/back.png');
    background-size: cover;
    background-position: center;
}

.innerHome div {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    height: 20%;
}

.midell-pic-small {
    background-image: url('../images/back.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.innerHome .mid {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
}

.innerHome .mid div {
    height: 100%;
    width: 20%;
    flex-direction: column;
}

.innerHome .mid div:nth-child(2) {
    width: 60%;
}

#Canvas .home {
    border: 1.5px black solid;
    position: relative;
    box-sizing: border-box;
    padding: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    border-radius: 6%;
    flex-wrap: wrap;
}

.circle {
    width: 80%;
    position: absolute;
    height: 85%;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.canvas-section {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    border-radius: 3%;
    background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

#Canvas .red {
    background-color: var(--red) !important;
}

#Canvas .green {
    background-color: var(--green) !important;
}

#Canvas .blue {
    background-color: var(--blue) !important;
}

#Canvas .yellow {
    background-color: var(--yellow) !important;
}

#Canvas .red {
    background-color: var(--red);
}

#Canvas .blue {
    background-color: var(--blue);
}

#Canvas .green {
    background-color: var(--green);
}

#Canvas .yellow {
    background-color: var(--yellow);
}

#Canvas .home .inner_space {
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 40%;
    width: 35%;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
    background-color: #b3b3b3
}

#Canvas .path {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Canvas .path article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#Canvas .path.vertical article {
    width: 100%;
    height: 16.66666666%;
    flex-direction: row;
}

#Canvas .path.horizontal article {
    height: 100%;
    width: 16.66666666%;
}

#Canvas .path div {
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: space-around;
    border: 0.1px solid black;
    background-color: var(--bg);
    box-sizing: border-box;
}

#Canvas .path.horizontal div {
    height: 33.3333333%;
    width: 100%;
}

#Canvas .path.vertical div {
    width: 33.3333333%;
    height: 100%;
}

.profilePic {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 35%;
    width: 35%;
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 2;
    background-size: cover;
    transition: all .5s ease-in-out;
}


/* .name {
    font-weight: bold;
    position: absolute;
    color: white;
    bottom: 0%;
    font-size: 16px;
} */

.name-red {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    height: 26px;
    background-color: #8099af;
    font-weight: bold;
    position: absolute;
    color: white;
    top: -11px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.name-yellow {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    height: 26px;
    background-color: #8099af;
    font-weight: bold;
    position: absolute;
    color: white;
    bottom: 0px;
    right: 67px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.name-blue {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    height: 26px;
    background-color: #8099af;
    font-weight: bold;
    position: absolute;
    color: white;
    bottom: 0px;
    right: 67px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.name-green {
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    height: 26px;
    background-color: #8099af;
    font-weight: bold;
    position: absolute;
    color: white;
    top: -11px;
    right: 69px;
    font-size: 16px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
}

.box_green .profilePic,
.box_yellow .profilePic {
    left: auto;
    right: -20px;
}

.box_blue .profilePic,
.box_yellow .profilePic {
    top: auto;
    bottom: -20px;
}


/* .box_red .name,
.box_blue .name {
    top: auto;
    top: 0%;
} */

.message p,
.message img {
    color: #ecf0f1;
    padding: 4px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    background-color: var(--message);
    border-radius: 4px;
    border: 1.5px var(--bg) solid;
    left: 20%;
    top: -50px;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    font-size: 16px;
    animation: bounceInRight 0.5s;
}

.message p:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -12px;
    top: -1px;
    bottom: auto;
    border: 10px solid;
    border-color: black transparent transparent transparent;
}

.message img {
    background-color: transparent;
    border: none;
    height: 60px;
}

#Canvas .box_green .message p,
#Canvas .box_green .message img,
#Canvas .box_yellow .message img,
#Canvas .box_yellow .message p {
    left: auto;
    right: 25%;
}

#Canvas .box_red .message p,
#Canvas .box_red .message img,
#Canvas .box_green .message img,
#Canvas .box_green .message p {
    animation: bounceInLeft 0.5s;
    left: 25%;
}

#Canvas .box_blue .message p,
#Canvas .box_blue .message img,
#Canvas .box_yellow .message img,
#Canvas .box_yellow .message p {
    bottom: -50px;
    top: auto;
}

#Canvas .box_red .message p:before,
#Canvas .box_green .message p:before {
    right: auto;
    left: -12px;
    top: auto;
    bottom: -2px;
    border-color: transparent transparent black transparent;
}

#Canvas .message div {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 50px;
    transition: all 0.2s ease-out;
    transform-origin: center;
}

.powerUp {
    width: 50px;
    border-radius: 7px;
    /* height: 50px; */
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px px;
    z-index: 5;
    background-position: center;
}

.freeRoll {
    background-image: url("../images/powerUps/freeRoll.png");
    width: 50px;
    height: 50px;
}

.skipTurn {
    background-image: url("../images/powerUps/skipTurn.png");
    width: 50px;
    height: 50px;
}

.killAnyGotti {
    background-image: url("../images/powerUps/killAnyGotti.png");
    width: 50px;
    height: 50px;
}

.powerUps p {
    z-index: 1000;
    font-weight: normal;
    text-align: center;
    display: none;
    position: absolute;
    color: white;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    top: -10%;
    left: 0px;
    width: 240px;
    font-size: 14px;
    transform-origin: bottom left;
}

.timer {
    z-index: 4;
    position: relative;
}

.timer::after {
    z-index: 4;
    content: "";
    position: absolute;
    top: 10%;
    left: 0;
    height: 4px;
    width: 0%;
    background-color: var(--border);
    animation: fillWidth 4s ease-in-out;
}

.timer_play {
    position: absolute !important;
    height: 7px;
    top: 1px;
    z-index: 4;
    width: 100%;
}

.timer_play::after {
    z-index: 4;
    content: "";
    position: absolute;
    top: 4%;
    left: 0;
    height: 7px;
    width: 0%;
    background-image: linear-gradient(90deg, rgba(100, 184, 255, 1) 0%, rgba(0, 5, 255, 1) 100%);
    animation: fillWidth 8s ease-in-out;
}

.box_blue .powerUps p,
.box_yellow .powerUps p {
    transform-origin: top left;
    bottom: -20%;
    top: auto;
}

.powerUps .powerUp:hover p {
    animation: fadeIn 0.5s ease-in-out;
    display: inline-block;
}

#Canvas .path .powerUp {
    position: absolute;
    top: 10%;
    background-color: transparent;
    border: none;
    z-index: 8;
    height: 78% !important;
    width: 78% !important;
}

#Canvas .path div p {
    display: none;
}

.tada {
    animation: tada 1s ease-in-out infinite;
}

.Gotti {
    z-index: 10;
    margin: auto !important;
    height: 78% !important;
    width: auto !important;
    cursor: pointer;
    animation: bounceIn 0.8s ease-in-out;
}

.Gotti_red {
    z-index: 10;
    transform: rotate(180deg) !important;
    margin: auto !important;
    height: 78% !important;
    width: auto !important;
    cursor: pointer;
    animation: bounceIn 0.8s ease-in-out;
}

.twoGotti .Gotti_red {
    height: 65% !important;
}

.multipleGotti .Gotti_red {
    height: 50% !important;
}

.useMe {
    animation: shake 1s ease-in-out infinite;
}

.roll {
    background-color: rgba(255, 255, 255, 0);
}

.star {
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    height: 82% !important;
    width: 82% !important;
}

.highLight {
    overflow: hidden;
    /* border: 3px black solid; */
    animation: heartBeat 1s ease-in-out infinite;
}


/* .highLight::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: .4;
    transform: scale(1.3);
} */

.twoGotti .Gotti {
    height: 65% !important;
}

.multipleGotti .Gotti {
    height: 50% !important;
}

.hidden {
    display: none !important;
}

.statesic {
    padding: 0 !important;
    padding-top: 40px !important;
    align-items: stretch;
    justify-content: center;
    position: absolute;
    top: 9vh;
    height: 600px;
    left: 30vh;
    width: 244px;
    display: flex !important;
    animation: bounceIn 1s ease-in-out;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
    list-style: none;
    border-radius: 23px;
}

.properties {
    align-items: stretch;
    justify-content: center;
    position: absolute;
    top: 9vh;
    height: 600px;
    right: 30vh;
    width: 244px;
    display: flex !important;
    animation: bounceIn 1s ease-in-out;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
    list-style: none;
    border-radius: 23px;
}

.properties li {
    font-size: 16px;
    padding: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 4px;
    background: white;
    border-radius: 4px;
}

.statesic li {
    font-size: 16px;
    padding: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 4px;
    background: white;
    border-radius: 4px;
}

.colorWheel {
    top: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 50px solid var(--green);
    border-left: 50px solid var(--red);
    border-right: 50px solid var(--yellow);
    border-bottom: 50px solid var(--blue);
}

.statesic .powerUps {
    z-index: 4;
    position: absolute;
    margin-top: 30px;
    top: 12px;
    padding: 10px;
    height: 12%;
    display: flex;
    width: 100%;
    border-top: 2px solid var(--border);
    text-align: center;
    border-bottom: 2px solid var(--border);
    color: white;
}

.properties .messages {
    z-index: 4;
    bottom: 120px;
    padding: 15px;
    position: absolute;
    text-align: center;
    width: 100%;
    border-radius: 8px;
}

.conva {
    position: absolute;
    width: 100%;
    overflow: scroll;
    height: 330px;
    left: 0;
    padding: 15px;
    border-radius: -1px;
    flex-wrap: wrap;
    /* background: blueviolet; */
    top: 40px;
    border-top: 2px solid var(--border);
}

.properties .powerUps h2 {
    font-weight: lighter;
    padding: 0;
    margin: 0;
    margin-top: 6px;
}

.properties .powerUps .powerUp {
    margin-top: 10px;
    margin-right: 4px;
    cursor: pointer;
    z-index: 8;
    display: inline-block;
    border: 1px red solid;
    width: 32px;
    height: 32px;
    border-radius: 8px;
}

.properties .roll {
    align-items: flex-end;
    height: 130px;
    top: 77%;
    position: absolute;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.gif {
    z-index: 127;
    POSITION: ABSOLUTE;
    display: flex;
    height: 75px;
    top: -27px;
    cursor: pointer;
}

.messages div {
    width: 100%;
    height: 50%;
}

.emojis img {
    cursor: pointer;
    margin: 2px;
    width: 33px;
    height: 33px;
}

.dm {
    position: relative;
}

.dm textarea {
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 4px;
    height: 28px;
    width: 100%;
    resize: none;
}

.dm button {
    outline: none;
    position: absolute;
    border: none;
    right: -8px;
    top: -6px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
}

.dm button i {
    color: #3498db;
    font-size: 32px;
}

 ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.heartBeat {
    animation: heartBeat 1.2s ease-in-out infinite;
}

.hidden_gifs img {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.player-first-step {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ludo-texuer {
    width: 100%;
    height: 300px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lodu-circle-blue {
    color: var(--blue);
    border-radius: 115px;
    background-color: white;
    height: 150px;
    margin: 15px;
    width: 150px !important;
    border: 6px solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: math;
    box-shadow: 17px 11px 30px 12px var(--shadow);
    animation: wiggle 3s linear infinite;
}

@keyframes wiggle {
    0%,
    7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-17deg);
    }
    20% {
        transform: rotateZ(11deg);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    30% {
        transform: rotateZ(6deg);
    }
    35% {
        transform: rotateZ(-4deg);
    }
    40%,
    100% {
        transform: rotateZ(0);
    }
}

.lodu-circle-red {
    color: var(--red);
    border-radius: 115px;
    background-color: white;
    height: 150px;
    width: 150px !important;
    border: 6px solid var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: math;
    margin: 15px;
    box-shadow: 17px 11px 30px 12px var(--shadow);
}

.lodu-circle-green {
    color: var(--green);
    border-radius: 115px;
    background-color: white;
    height: 150px;
    width: 150px !important;
    margin: 15px;
    border: 6px solid var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    font-family: math;
    box-shadow: 17px 11px 30px 12px var(--shadow);
}

.lodu-circle-yellow {
    color: var(--yellow);
    border-radius: 115px;
    background-color: white;
    height: 150px;
    width: 150px !important;
    border: 6px solid var(--yellow);
    display: flex;
    align-items: center;
    margin: 15px;
    justify-content: center;
    font-size: 100px;
    font-family: math;
    box-shadow: 17px 11px 30px 12px var(--shadow);
}

.ludo-logo-king-img {
    position: absolute;
    width: 140px;
    top: -65px;
    right: -16px;
}

.ludo-logo-king-text {
    font-size: 56px;
    position: absolute;
    width: 140px;
    top: 119px;
    right: -117px;
    color: var(--white);
}

.enter-your-name {
    height: 30%;
    align-items: center;
    color: var(--white);
    justify-content: center;
}

.background {
    border-radius: 19px;
    position: fixed !important;
    width: 55% !important;
    left: 24%;
    height: 60%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
}

.wait-section {
    margin-top: 15%;
    color: white;
    border-radius: 19px;
    position: fixed !important;
    width: 50% !important;
    left: 25%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    height: 20%;
    font-size: 40px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
}

.conva-body {
    border: 1px solid var(--border);
    display: flex;
    height: 30px;
    border-radius: 25px;
    margin-bottom: 3%;
    align-content: center;
    justify-content: flex-start;
}

#background_audio {
    display: none;
}

.div-audio {
    display: flex;
    justify-content: center;
    padding: 5px;
    top: 19%;
    height: 60px;
}

.audio-play-button {
    justify-content: center;
    display: flex;
    align-items: center;
    color: var(--white);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    width: 40px;
    background: var(--bluetest);
    border-radius: 59px;
    height: 40px;
    cursor: pointer;
    margin: 3px;
}

.audio-stop-button {
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: var(--white);
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    width: 40px;
    background: var(--redtest);
    border-radius: 59px;
    height: 40px;
    margin: 3px;
}

.chat-button {
    display: none;
}

.audio-volumeUp-button {
    justify-content: center;
    display: flex;
    cursor: pointer;
    color: var(--white);
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    width: 40px;
    background: var(--greentest);
    border-radius: 59px;
    height: 40px;
    margin: 3px;
}

.audio-volumeDown-button {
    justify-content: center;
    display: flex;
    cursor: pointer;
    display: flex;
    color: var(--white);
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    width: 40px;
    background: var(--yellowtest);
    border-radius: 59px;
    height: 40px;
    margin: 3px;
}

.bot-button {
    justify-content: center;
    display: flex;
    cursor: pointer;
    display: flex;
    border: 2px solid white;
    color: var(--white);
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    width: 40px;
    background: var(--redtest);
    border-radius: 59px;
    height: 40px;
    margin: 3px;
}

#cube .front {
    transform: translateZ(35px);
}

#cube .back {
    transform: rotateX(-180deg) translateZ(35px);
}

#cube .right {
    transform: rotateY(90deg) translateZ(35px);
}

#cube .left {
    transform: rotateY(-90deg) translateZ(35px);
}

#cube .top {
    transform: rotateX(90deg) translateZ(35px);
}

#cube .bottom {
    transform: rotateX(-90deg) translateZ(35px);
}

#cube {
    width: 100%;
    height: 100%;
    top: -27px;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

#cube:hover {
    cursor: pointer;
}

.dd {
    position: absolute;
    width: 75px;
    bottom: 3px;
    height: 75px;
}

#cube div {
    background: #ffffff;
    display: block;
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 6px;
    border: 1px solid #000000;
    margin: 0 auto;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 500%; */
    text-align: center;
}

.dot {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    background: rgb(0, 0, 0);
    border-radius: 15px;
}

.front .dot1 {
    top: 43%;
    left: 43%;
}

.back .dot1 {
    top: 65%;
    left: 65%;
}

.back .dot2 {
    top: 20%;
    left: 20%;
}

.right .dot1 {
    top: 65%;
    left: 65%;
}

.right .dot2 {
    top: 43%;
    left: 43%;
}

.right .dot3 {
    top: 20%;
    left: 20%;
}

.left .dot1 {
    top: 65%;
    left: 65%;
}

.left .dot2 {
    top: 65%;
    left: 20%;
}

.left .dot3 {
    top: 20%;
    left: 20%;
}

.left .dot4 {
    top: 20%;
    left: 65%;
}

.top .dot1 {
    top: 65%;
    left: 20%;
}

.top .dot2 {
    top: 20%;
    left: 20%;
}

.top .dot3 {
    top: 43%;
    left: 43%;
}

.top .dot4 {
    top: 20%;
    left: 65%;
}

.top .dot5 {
    top: 65%;
    left: 65%;
}

.bottom .dot1 {
    top: 65%;
    left: 65%;
}

.bottom .dot2 {
    top: 65%;
    left: 42%;
}

.bottom .dot3 {
    top: 65%;
    left: 20%;
}

.bottom .dot4 {
    top: 20%;
    left: 20%;
}

.bottom .dot5 {
    top: 20%;
    left: 42%;
}

.bottom .dot6 {
    top: 20%;
    left: 65%;
}

.test {
    animation-duration: 1000ms;
    animation-name: initial;
    animation: test;
}

@keyframes test1 {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

.div_pro {
    display: flex;
}

.no_bot {
    position: absolute;
    height: 65%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    width: 7px;
    background-color: var(--red);
    transform: rotate(45deg);
}

.settingdiv {
    font-size: 20px;
    font-family: system-ui;
    position: absolute;
    color: white;
    top: 120px;
}

.convatext {
    font-size: 20px;
    font-family: system-ui;
    position: absolute;
    color: white;
    top: 10px;
}

.start_button {
    display: none;
}

.start_text {
    display: block;
}

.conv_div {
    display: block;
}

@media only screen and (max-width: 768px) {
    .canvas-section {
        padding: 0 !important;
        height: 360px !important;
        width: 360px !important;
        top: 128px !important;
    }
    body {
        background-size: auto;
    }
    .start_button {
        display: block;
        padding-top: 25%;
    }
    .start_text {
        display: none;
    }
    .lodu-circle-green {
        height: 80px;
        width: 80px !important;
        margin: 5px;
        font-size: 60px;
        border: 3px solid var(--green);
    }
    .lodu-circle-blue {
        height: 80px;
        width: 80px !important;
        margin: 5px;
        font-size: 60px;
        border: 3px solid var(--blue);
    }
    .ludo-logo-king-img {
        position: absolute;
        width: 85px;
        top: -34px;
        left: 0px;
    }
    .ludo-logo-king-text {
        display: none;
    }
    .lodu-circle-red {
        height: 80px;
        width: 80px !important;
        margin: 5px;
        font-size: 60px;
        border: 3px solid var(--red);
    }
    .lodu-circle-yellow {
        height: 80px;
        width: 80px !important;
        margin: 5px;
        font-size: 60px;
        border: 3px solid var(--yellow);
    }
    .background {
        border-radius: 19px;
        position: fixed !important;
        width: 95% !important;
        left: 2.5%;
        top: 41%;
        height: 20%;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
        background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
    }
    .ludo-texuer {
        width: 100%;
        height: 227px;
        /* position: absolute; */
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .player-first-step {
        top: 70px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .statesic {
        padding-top: 73px !important;
        align-items: stretch;
        justify-content: center;
        position: absolute;
        top: 1vh;
        z-index: 600;
        height: 21%;
        width: 91.5%;
        left: 4%;
        display: flex !important;
        animation: bounceIn 1s ease-in-out;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
        background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
        list-style: none;
        border-radius: 8px;
    }
    .statesic .powerUps {
        z-index: 4;
        padding-top: 0;
        position: absolute;
        margin-top: 30px;
        top: 12px;
        height: 29%;
        display: flex;
        width: 100%;
        border-top: 2px solid var(--border);
        text-align: center;
        border-bottom: 2px solid var(--border);
        color: white;
    }
    .convatext {
        display: none;
    }
    .settingdiv {
        display: none;
    }
    .convar {
        display: none;
    }
    .powerUp {
        width: 37px !important;
        border-radius: 7px;
        height: 36px !important;
        background-size: contain;
        background-repeat: no-repeat;
        margin: 10px px;
        z-index: 5;
        background-position: center;
    }
    .properties .messages {
        z-index: 4;
        bottom: 10px;
        left: -8px;
        padding: 15px;
        position: absolute;
        text-align: center;
        width: 69%;
        border-radius: 8px;
    }
    .name-yellow {
        right: auto;
        bottom: -17px;
    }
    .name-red {
        top: -31px;
    }
    .name-blue {}
    .name-green {}
    .properties {
        align-items: stretch;
        justify-content: center;
        position: absolute;
        bottom: 2vh;
        height: 18%;
        top: auto;
        left: 4%;
        width: 91.5%;
        display: flex !important;
        animation: bounceIn 1s ease-in-out;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
        background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
        list-style: none;
        border-radius: 8px;
    }
    .properties .roll {
        top: 0;
        width: 30%;
        right: 6%;
    }
    #startGameDialogue,
    #endGameDialogue {
        font-size: 29px;
        color: var(--white);
        animation: bounceIn 1s ease-in-out;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
        text-align: center;
        flex-wrap: wrap;
        margin: 0px auto;
        margin-left: 3.5%;
        display: flex;
        justify-content: space-around;
        width: 93.5%;
        /* height: 33%; */
        margin-top: 40%;
        padding: 44px;
        box-sizing: border-box;
        border-radius: 10%;
        font-weight: lighter;
        background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
    }
    .wait-section {
        margin-top: 73%;
        color: white;
        border-radius: 19px;
        position: fixed !important;
        width: 93% !important;
        left: 3.5%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 13%;
        font-size: 17px;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
        background-image: linear-gradient(to right top, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33, #aaaaaa33);
    }
    .dd {
        position: relative;
        width: 75px;
        height: 75px;
        left: 33%;
        top: 39%;
    }
    .chat-button {
        justify-content: center;
        display: flex;
        cursor: pointer;
        color: var(--white);
        align-items: center;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 10%);
        width: 40px;
        padding: 2px;
        background: var(--bg);
        border-radius: 59px;
        height: 40px;
        margin: 3px;
    }
    .conv_div {
        position: absolute;
        top: -58vh;
        width: 100%;
        height: 59vh;
        border-radius: 3%;
        background-color: #233346;
        animation: bounceIn 1s ease-in-out;
    }
    .playerName,
    .waitingForPlayers {
        padding-top: 2%;
        width: 100% !important;
        animation: bounceInDown 1s ease-in-out;
    }
}